<div id="calculator">
  <div class="result">
    <p></p>
  </div>
  <div class="clear">C</div>

  <span>7</span>
  <span>8</span>
  <span>9</span>
  <span>+</span>

  <span>4</span>
  <span>5</span>
  <span>6</span>
  <span>-</span>

  <span>1</span>
  <span>2</span>
  <span>3</span>
  <span>/</span>

  <span>0</span>
  <span>.</span>
  <span>=</span>
  <span>*</span>
</div>
