.DS_Store
.byebug_history
.rvmrc
.powenv
/.bundle
/vendor/bundle
.env
config/initializers/secret_token.rb
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html
