<div class="row" style="margin:50px">
    <span class="span12">
      <div class="text-center">
        <h1>SPLICE</h1>
      </div><br>
      <p class="text-center">
        Standards, Protocols, and Learning Infrastructure for Computing Education<br><br>
        <a href="http://cssplice.org">SPLICE Homepage</a><br><br>
        <%= link_to "LTI tutorials", lti_path %><br><br>
      </p><br>
    </span>
</div>
