<div class="row" style="margin:50px">
  <span class="span12">
    <div class="text-center">
      <h1>Add an LTI Tool Provider to a Canvas Course</h1>
    </div>
    <br>
    <p>
      The LTI specification enhances the functionality provided by a
      Tool Consumer and provides instructors with various applications
      that they can embed into their course. There are various tools that are
      LTI compatible and an instructor can add those tools in their courses and
      enhace the capabilities of a Tool Consumer and hence, enhance the
      learning experience of a student.
    </p>
    <p>
      The list of various tools can be found at <a
      href="https://www.eduappcenter.com/">eduappcenter.com</a>. Most of these
      tools either require a contract with your institute or you will have to
      contact their request a demo and after that they will tell you how you
      can purchase it. For example:
      <ul>
        <li>
          <a href="https://aspiredu.com/">Dropout Detective</a> identifies the
          students that are most at risk of dropping out of or failing courses.
          Dropout Detective requires a contract with your institute.
        </li>
        <li>
          <a href="http://www.infobase.com/databases/">Modern World History</a>
          offers a thorough look at world history from the mid-15th century to
          the present. It has thousands of subject entries, biographies,
          images, videos and slideshows, maps and graphs, primary sources, and
          timelines combine to provide a detailed and comparative view of the
          people, places, events, and ideas that have defined modern world
          history. You have to email or call them for ordering nad pricing.
        </li>
      </ul>

      The tools available on <em>eduappcenter.com</em> are not the only tools
      because various tools have their own websites and are not on this list.
      For example: <a href="https://codeworkout.cs.vt.edu/">Code Workout</a>
      enables students to work coding exercises from within Canvas in the same
      way that they might do any Canvas-native assignment, and receive a score
      in the Canvas gradebook for doing that assignment. But it is not available
      on <em>eduappcenter.com</em> and you have to go on Code Workout's
      website to gain access.
    </p>
    <p>
      We show how these third party tools can help you enhance your course with
      an example of <a
      href="https://www.eduappcenter.com/apps/445#.Wsu2kXXwZoA">ChemVantage
      </a>, one of the tools from the <a href="https://www.eduappcenter.com/">
      eduappcenter.com</a>. ChemVantage provides free Chemistry quizzes,
      homework assignments and practice exams that keep students engaged by
      allowing multiple submissions until students succeed.
    </p>
    <p>
      <strong>Step 1:</strong> To add ChemVantage in your course, you need to go
      on <a href="https://www.chemvantage.org/lti/registration/"
      target="_blank">chemvantage.org/lti/registration</a>. Once you are on the
      website, you will have to enter your email and a unique consumer key for
      LTI 1.x. You can enter any key that will uniquely identify your LMS.
    </p>
  </span>
</div>
