<div class="row" style="margin:50px">
    <span class="span12">
      <div class="text-center">
        <h1>Examples</h1>
        <br>
        <p>
          On this page, we shall post our LTI examples to explain the LTI Tools integration with Tool Consumers. For example, how OpenDSA integrates with Canvas.
        </p>
      </div>
    </span>

</div>
