<div class="row" style="margin:50px">
  <span class="span12">
    <div class="text-center">
      <h1>Enhancing LMS capabilities via LTI</h1>
    </div><br>
    <p>
      The purpose of this webpage is to provide instructors the resources to
      learn how they can add various third-party applications and
      enhance the capabilities of the LMS via LTI.
    </p>
    <p>
      Learning Tools Interoperability (LTI) establishes a standard way to
      integrate remotely hosted learning applications with platforms like
      learning management systems (LMS) and similar educational
      environments. Learning applications are called <strong>Tools</strong>,
      and they are delivered by <strong>Tool Providers</strong>.
      These are things like interactive exercises that a student might
      do for a grade. The LMS (systems like Canvas, Moodle etc.) is called a
      <strong>Tool Consumer</strong>.
    </p>
    <p>
      LTI protocol allows an LMS like Canvas to provide instructors with access
      to applications that they can embed into their courses. Many educational
      tools are now LTI compatible and an instructor can add those tools in
      their courses, enhancing the capabilities of the LMS, and thus improve the
      learning experience of a student. LTI allows students and instructors to
      navigate between various learning tools without having to log into each
      tool separately. The scores of students are recorded within LMS (e.g.
      Canvas Gradebook) similar to the native assignments of LMS.
    </p>
    <p>
      Once you add a third-party tool by following the few simple steps,
      you and your students will feel that the tool is a part of your LMS.
      For example, Code Workout is a third-party tool that lets students answer
      and get credit for small programming exercises. Once you add Code Workout
      into your LMS (e.g. Canvas), it will enable students to work on coding
      exercises from within Canvas in the same way that they might do any
      Canvas-native assignment, and receive a score in the Canvas gradebook for
      doing that assignment. Neither you nor your students will have to log
      into the Code Workout's website. You also won't have to copy the grades
      manually to Canvas gradebook. You can create assignments from within LMS
      and students will solve those assignments in the same way they might do
      any LMS-native assignment.
    </p>
    <p>
      Follow <%= link_to "these steps", lti_toolproviders_canvas_path %>  to
      learn how to add a tool provider within Canvas. Similarly, you can follow
      the steps mentioned <%= link_to "here", lti_toolproviders_moodle_path %>
      to add a tool provide in Moodle. You can navigate between these various
      resources from the top menu.
    </p>
    <p> These tutorials are a part of the <a href="http://cssplice.org">SPLICE
      Project</a>. If you want to develop your own LTI tool, you can follow our
      <%= link_to "LTI tutorials", lti_path %>.
    </p>

  </span>

</div>
